.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%; /* Changed from fit-content */
	overflow: visible; /* Prevents any image bleed */
}

.container_img {
	width: 100vw;
	height: 87.5vh; /* Let aspect-ratio handle the height */
	object-fit: cover;
}

.contactForm {
	z-index: 2;
	overflow: visible;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	gap: 3vh;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	background-color: var(--blue);
	border-radius: 10%;
	width: 50vw;
	top: 10vh;
	left: auto;
	right: auto;
	padding: 5vh 0;
}

.contactTitle {
	font-size: 6vw;
	font-weight: 900;
}

.inputGroup {
	display: flex;
	width: 60%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.inputGroup input {
	padding: 5%;
	width: 100%;
	height: 5vh;
	border: 2px gray solid;
	border-radius: 9999px;
}

.inputGroup label {
	font-weight: 700;
}

#comments {
	width: 80%;
	height: 40vh;
	border: 2px gray solid;
	border-radius: 20px;
	padding: 1%;
}

.button {
	border-radius: 60px;
	font-size: 2vw;
	font-weight: 500;
	padding: 1vh 3vw;
	/* 	margin: 2rem; */
	width: fit-content;
	text-transform: uppercase;
}

.button {
	cursor: pointer;
}

.button.blue {
	background-color: var(--blue);
}

.button.blueText {
	color: var(--blue);
}

.button.blueText:hover {
	color: var(--yellow);
}

.button.white {
	background-color: var(--white);
}

.button.whiteText {
	color: var(--white);
}

.button.whiteText:hover {
	color: var(--yellow);
}

.button.yellow {
	background-color: var(--yellow);
}

.button.yellow.blueText:hover {
	color: var(--white);
}

.button.yellowText {
	color: var(--yellow);
}

.button.yellowText:hover {
	color: var(--white);
}

/* Location Section */
.locationSection {
	width: 100%;
	height: 80vh;
}

.mapContainer {
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: hidden;
}

.locationOverlay {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	/* padding: 3rem; */
	margin: 3rem;
	background-color: var(--white);
	width: fit-content;
	/* background: linear-gradient(
		135deg,
		var(--blue) 0%,
		var(--blue) 45%,
		transparent 100%
	); */
	/* clip-path: polygon(0 0, 65% 0, 45% 100%, 0 100%); */
	z-index: 10;
	color: var(--blue);
}

.locationOverlay h1 {
	color: var(--blue);
	font-size: 120px;
	line-height: 0.8;
	font-weight: 900;
	/* margin: 0 0 1rem 0; */
}

.locationSubtitle {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	/* letter-spacing: 0.05em; */
	/* max-width: 100%; */
	/* line-height: 1.4; */
	color: var(--blue);
}
