/* AngledRectangle.css */
.angled_rectangle {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: -5rem 0 -5rem 0;
  padding: 4rem 0 4rem 0;
}

.angled_rectangle.right {
	clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}

.angled_rectangle.left {
	clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
}

.angled_rectangle.yellow {
	background: var(--yellow);
}

.angled_rectangle.white {
	background: var(--white);
}

.angled_rectangle.blue {
	background: var(--blue);
}

.angled_rectangle.text_yellow {
	color: var(--yellow);
}

.angled_rectangle.text_white {
	color: var(--white);
}

.angled_rectangle.text_blue {
	color: var(--blue);
}

.angled_content {
	text-align: left;
  max-width: 70%;
	/* z-index: 1; */
	position: relative;
}
