/* AngledRectangle.css */
:root {
	--blue: #002855;
	--yellow: #ffc72c;
	--white: #fff;
}

.angled_rectangle {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: -2rem 0 -2rem 0;
}

.angled_rectangle.right {
	clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}

.angled_rectangle.left {
	clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
}

.angled_rectangle.yellow {
	background: var(--yellow);
	color: var(--blue);
}

.angled_rectangle.white {
	background: var(--white);
	color: var(--blue);
}

.angled_rectangle.blue {
	background: var(--blue);
	color: var(--yellow);
}

.angled_content {
	text-align: center;
	max-width: 900px;
	margin: 2rem;
	/* z-index: 1; */
	position: relative;
}
