.aboutContainer {
	display: flex;
	flex-direction: row;
}

.aboutContainer div {
	width: 50%;
}

.aboutContainer p {
	margin-top: 2rem;
	font-size: 24px;
	font-weight: 600;
}

.missionTitle {
	width: 100%;
	font-size: 48px;
	font-weight: 800;
	margin-bottom: 2rem;
}

.missionContent {
	width: 100%;
	font-size: 24px;
	font-weight: 600;
}

.valuesContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.valuesContainer ul {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
