.container {
	display: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: var(--top-position); /* These need to change with parameters */
	left: var(--left-position);
	width: 30%;
}

.photo {
	display: block;
	object-fit: cover;
	border: 10px white solid;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
	border-radius: 3px;
	width: 35rem;
	height: 20rem;
}

.image1 {
	top: 0px;
	left: 50px;
	position: absolute;
	transform: rotate(-5deg);
	z-index: 2;
}

.image2 {
	position: absolute;
	top: 250px;
	left: 200px;
	transform: rotate(5deg);
	z-index: 3;
}

.image3 {
	position: absolute;
	top: 520px;
	left: 0px;
	transform: rotate(-5deg);
	z-index: 2;
}

.image1.flipped {
	top: 0px;
	left: -50px;
	position: absolute;
	transform: rotate(5deg);
	z-index: 2;
}

.image2.flipped {
	position: absolute;
	top: 250px;
	left: -200px;
	transform: rotate(-5deg);
	z-index: 3;
}

.image3.flipped {
	position: absolute;
	top: 520px;
	left: 0px;
	transform: rotate(5deg);
	z-index: 2;
}
