@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin-top: 5rem;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; /* stays above all content */
	background-color: #002855; /* IEEE dark blue */
	height: 72px;
	display: flex;
	align-items: center;
	padding: 0 48px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin-bottom: 3rem;
}

.navbar-logo {
	height: 36px;
	width: auto;
}

.navbar-title {
	color: #ffffff;
	font-size: 30px;
	/* font-weight: 600; */
	font-style: italic;
	letter-spacing: 0.3px;
	white-space: nowrap;
}

.navbar-left {
	display: flex;
	align-items: center;
	gap: 24px;
}

.navbar-menu {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 32px;
}

.navbar-menu a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 4px;
}

.navbar-menu a:hover {
	color: #ffc72c;
}
