/* Main Event */

.mainEventContainer {
	display: flex;
	position: relative;
	width: 60%;
	height: 20rem;
	border-radius: 2rem;
	overflow: hidden;
	margin-bottom: 5rem;
	transition: transform 0.3s ease;
}

.mainEventContainer:hover {
	transform: translateY(-5%);
	cursor: pointer;
}

.mainEventHead {
	object-fit: cover;
	height: 100%;
	width: 40%;
}

.mainEventPic {
	object-fit: cover;
	height: 100%;
}

.mainEventLead {
	position: absolute;
	width: 5rem;
	height: 5rem;
	border-radius: 3rem;
	border: 0.2rem var(--white) solid;
	right: 1rem;
	top: 1rem;
}

.mainEventBody {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: var(--blue);
	color: var(--white);
	font-size: 18px;
	height: 100%;
	width: 100%;
	padding: 2rem;
}

.mainEventBody h3 {
	color: var(--yellow);
	font-size: 32px;
	font-weight: 900;
}

/* Sub-Event Cards */
.subEvents {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 10rem;
}

.eventContainer {
	position: relative;
	width: 25%;
	height: 40rem;
	border-radius: 2rem;
	overflow: hidden;
	margin-bottom: 5rem;
	transition: transform 0.3s ease;
}

.eventContainer:hover {
	transform: translateY(-5%);
	cursor: pointer;
}

.eventHead {
	object-fit: cover;
	height: 40%;
	width: 100%;
}

.eventPic {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.eventLead {
	position: absolute;
	width: 5rem;
	height: 5rem;
	border-radius: 3rem;
	border: 0.2rem var(--white) solid;
	right: 1rem;
	top: 1rem;
}

.lead {
	position: absolute;
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	border: 0.2rem var(--white) solid;
	right: 1rem;
	top: 1rem;
}

.eventBody h3 {
	color: var(--yellow);
	font-size: 32px;
	font-weight: 900;
}

.eventBody {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: var(--blue);
	color: var(--white);
	font-size: 18px;
	height: 100%;
	width: 100%;
	padding: 2rem;
}

/* Region 5 */

.r5container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}

.r5body {
	width: 50%;
	height: 100%;
}
