/* Profile Containers */
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 0.5rem;
}

.profileImgContainer {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.profilePosition {
  font-size: 20px;
  font-weight: 700;
}

.profileName {
  margin-bottom: 1.5rem;
}

/* Sections */
.sectionContainer {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
}

.sectionContainer2 {
  display: grid;
  grid-template-columns: repeat(3, 20em);
  margin-left: 20rem;
}

.sectionTitle {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}
